[2020-01-14 02:47] safaiyeh opened #5 "Move WebKit related cookie logic to react-native-webview"
Should WebKit cookies be moved to the `react-native-webview` module?

The only time WebKit cookies are needed is usage with WebView. The two are coupled.

How would y'all feel about moving that functionality over or is there another way that this can be handled?

[2020-01-15 09:44] DIGITALSQUAD opened #7 "ld: library not found for -lRNCookieManagerIOS error"
### Question
I have swiched from [joeferraro/react-native-cookies](https://github.com/joeferraro/react-native-cookies), but does not work.

### Error 1: `react-native run-ios` fails with errors below
[code]
I did these solutions, but not solved by these solutions.
- [Created new XCode Configuration and Scheme - linker is suddenly failing](https://stackoverflow.com/questions/39626055/created-new-xc

[2020-01-15 16:14] safaiyeh commented on #7
Thanks for the issue @DIGITALSQUAD, I'll check this out sometime today.

[2020-01-15 16:37] frankyjuang opened #8 "Typescript support"
# Feature Request

Add index.d.ts. I can pr some day this week

## Why it is needed

## Possible implementation

### Code sample

[2020-01-15 16:46] safaiyeh commented on #8
I would appreciate a PR on this, thanks!

[2020-01-15 18:54] frankyjuang opened #9 "[iOS] CookieManager.get with useWebKit crash if argument is not a url"
# Bug

This crashes.

[code]

## Environment info

React native info output:

[code]

Library version: 1.0.1

## Steps To Reproduce

Run this and crash. Won't crash if it's a url like `https://google.com`

[code]

## Reproducible sample code

[code]

[2020-01-15 23:32] safaiyeh commented on #8
Closing, types added. Thanks @frankyjuang

[2020-01-15 23:32] #8 closed

[2020-01-16 05:08] DIGITALSQUAD commented on #7
Thanks for your reply @safaiyeh.
I don't know why but the **ld: library not found for -lRNCookieManagerIOS error** has fixed while rebasing commits, redo yarn install and rerun `react-native run-ios`.
However the argument error is not fixed yet.

[2020-01-16 06:46] safaiyeh opened #11 "Consistent return types iOS & Android"
Comment: https://github.com/react-native-community/react-native-cookies/pull/10#issuecomment-574811484

Currently the return types of functions are not helpful. boolean or undefined, which type (or any other) would be most helpful using CookieManager functions.

[2020-01-16 06:53] safaiyeh commented on #7
Hi @DIGITALSQUAD

I could not reproduce the error

[code]

Could you make sure to unlink and remove all setup from `joeferraro/react-native-cookies`. Then set up this module from scratch. Might be conflicting files.

[2020-01-16 08:50] DIGITALSQUAD commented on #7
Thanks for your advice @safaiyeh
I noticed that **RNCookieManagerIOS.xcodeproj** and **libRNCookieManagerIOS.a** is grayed out.
So manually linked those and now works fine.
Thanks a lot!

[2020-01-16 08:50] #7 closed

[2020-01-20 09:22] DIGITALSQUAD opened #12 "CookieManager.get() raise 'object cannot be nil (key: expiresDate)' error with localhost or ip address on iOS"
# Bug
Works fine
`CookieManager.get('https://www.google.com');`

Raise error
`CookieManager.get('http:/localhost:3001');`
`CookieManager.get('http://192.168.1.50:3000');`

[code]
## Environment info
React native info output:
[code]

Library version: 3.3.0

[2020-01-20 09:27] DIGITALSQUAD commented on #12
Fixed by adding useWebKit option, but crashes when local url.
related to #9

Works fine
`CookieManager.get('http://192.168.1.50:3000', true);`

Crash silently
`CookieManager.get('http:/localhost:3001', true);`

[2020-01-20 09:32] #12 closed

[2020-01-20 09:35] DIGITALSQUAD commented on #9
Same here if url is a localhost.  #12
Works fine
`CookieManager.get('http://192.168.1.50:3000', true);`

Crash silently
`CookieManager.get('http:/localhost:3001', true);`

[2020-01-20 15:21] safaiyeh commented on #9
Thanks for the issue @frankyjuang and @DIGITALSQUAD. Putting this in my todo for today

[2020-01-21 04:43] safaiyeh commented on #9
I narrowed down the issue. What should be the expected behavior? Reject the promise with unsupported URL? or resolve the URL?

cc @frankyjuang @DIGITALSQUAD

[2020-01-21 05:31] safaiyeh commented on #9
I put up a PR for the fix. Can one of you confirm the fix by testing the branch? Thanks!

@frankyjuang @DIGITALSQUAD

[2020-01-21 07:43] vnd-ranga opened #14 "Typescript Issue"
yarn add @types/react-native-cookies

error An unexpected error occurred: "https://registry.yarnpkg.com/@types%2freact-native-cookies: Not found".

[2020-01-21 13:07] williamchong007 opened #15 ".get(url) with `useWebKit: true` in iOS does not return exact match domain cookie"
# Bug
`CookieManager.get('https://google.com', true)` returns cookies of domain with leading dot(e.g. `.google.com`), but not the ones with exact match domain (e.g. `google.com`). This issue only happens in iOS with Webkit option on. Both cookies appear no problem if I call `getAll(true)`.

## Environment info
React native info output:

[code]

Library version: 1.1.0

## Steps To Reproduce

Make s

[2020-01-21 13:20] indapublic opened #16 "Exception '*** -[__NSDictionaryM setObject:forKey:]: object cannot be nil (key: expiresDate)' was thrown while invoking get on target RNCookieManagerIOS"
# Bug

Just decide to move from `react-native-cookies` (3.2.0) to community version.

[code]

[code]

Installed via Pods.

## Environment info

React native info output:

[code]

Library version: 1.1.0

## Steps To Reproduce

1. ```console.warn(await CookieManager.get(Env.ROOT_URL))```

Describe what you expected to happen:

1. No errors

## Reproducible sample code

If I will pass `useWebKit` par

[2020-01-21 15:27] safaiyeh commented on #14
Hi @vnd-ranga you do not need to install an external package. It is provided as part of this package. Let me know if you can not access the types.

[2020-01-21 15:32] antoniogoulao opened #17 "Expo Support"
# Feature Request

Add Expo Support. With Expo growing and more developers joining the RN community, many of them will start with Expo and face the same issue I'm facing, cookie management in the app.

## Why it is needed

I'm trying to develop an app made to authenticate through a webpage and then get redirected to the app. WebBrowser and AuthSession from Expo are ruled out since we can't cover a

[2020-01-21 19:27] safaiyeh commented on #15
Thanks for the issue @williamchong007, I did notice the appending of the `.` last night.

So the ideal would be that `.google.com` and `google.com` to be treated as different hosts when evaluating cookies?

[2020-01-21 19:27] safaiyeh commented on #16
Thanks for the issue @indapublic put this in my TODO for today.

[2020-01-21 19:29] safaiyeh commented on #17
Thanks for the issue @antoniogoulao the Expo team has expressed a need for it as well here: https://github.com/expo/expo/issues/6756

I'll follow up with them to see how we can proceed.

[2020-01-21 22:26] safaiyeh commented on #15
Also can you validate the behavior on Android? The behaviors should match.

[2020-01-22 03:21] williamchong007 commented on #15
We should match browser behaviour if possible. If I query .get() with the url `https://google.com`, both `google.com` and `.google.com` cookie should be returned, since former is an exact match, and the latter one with dot should match all urls with  `*.google.com`, `*.*.google.com` and also `google.com`.

On Android both cookies are return correctly, which is the expected cookie behaviour if I am

[2020-01-22 04:22] safaiyeh commented on #15
Cool thanks for the clarification. I'll check this out sometime this week.

[2020-01-22 04:29] safaiyeh commented on #16
@indapublic `useWebKit` is not required.

I tried to reproduce the error but couldn't. Are you setting cookies?

`object cannot be nil (key: expiresDate)' was thrown` makes me believe this is because of setting cookies. Can you share that piece of code?

[2020-01-22 04:31] indapublic commented on #16
Not sure, but I will try to create reproducible code

[2020-01-22 04:31] indapublic commented on #16
I have `react-native-webview` in project but it was cold start without any cookies in storage

[2020-01-22 04:52] safaiyeh commented on #16
Cool thanks, ill also check out issues on the other repo maybe there's an issue open that can help narrow it down.

[2020-01-22 05:35] klaevv commented on #16
Similar issue here.

I'm moving a cookie from `WKHTTPCookieStore`to `NSHTTPCookieStorage` by using the `useWebKit` flag.

[code]

I have to set dummy values to origin, version and expiration because react-native-cookies doesn't pass these values from `getAll`.

Is it possible to have these three in cookieData that's returned from `createCookieData:(NSHTTPCookie *)cookie`?

[2020-01-22 05:42] safaiyeh commented on #16
@klaevv could you make a separate issue for adding new fields. This issue will be fore the expireDate nil error.

[2020-01-22 05:52] klaevv opened #18 "-[__NSDictionaryM setObject:forKey:]: object cannot be nil (key: OriginURL)' was thrown while invoking set on target RNCookieManagerIOS"
# Bug

I'm moving a cookie from `WKHTTPCookieStore`to `NSHTTPCookieStorage` by using the `useWebKit` flag.

[code]

I have to set dummy values to origin, version and expiration because react-native-cookies doesn't pass these values from `getAll`.

## Environment info

React native info output:

[code]

Library version: 1.1.0

## Steps To Reproduce

The error occurs if the dummy values are not pass

[2020-01-22 06:37] safaiyeh opened #19 "Android Migration from React Native dependency"
# Feature Request

Currently the module relies on, [`ForwardingCookieHandler`](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/modules/network/ForwardingCookieHandler.java) from `react-native`. This is a proposal to implement cookie APIs from scratch.

## Why it is needed
Since the module relies on the ForwardingCookieHandler, any changes requires

[2020-01-22 06:38] safaiyeh commented on #18
Thank you for creating this issue. I'll look into this sometime this week.

[2020-01-26 02:49] safaiyeh commented on #9
Released with v1.1.1 🎉

[2020-01-26 02:49] #9 closed

[2020-01-27 13:16] masoudltf opened #25 "Support CookieManager.set() on Android"
# Question

I have got two errors

1-With RN autolinking:
"
Invariant Violation: @react-native-community/cookies: Import libraries to android "react-native link @react-native-community/cookies
"

2-Whit Manual linking and then calling CookieManager.set:
"
Counld not invoke RNCookieManagerAndroid.set

null

Cannot call on android, try setFromResponse
"

Why i'm not able to use this module?

[2020-01-27 16:11] safaiyeh commented on #25
Hi @masoudltf I created a fresh React Native project with `npx react-native init CookieTest`, installed the module `yarn add @react-native-community/cookies`, and then

[code]

I did not get the same error as you. Could you provide a reproducible demo?

[2020-01-27 17:00] masoudltf commented on #25
Hi @safaiyeh
I'm trying to move my project to latest RN version and i created a fresh project because i used so many third party modules, well i have to install, config and test every module one by one.
in this case, i used "CookieManager.set()" method and i get these errors.

Thanks very much.

[2020-01-27 21:09] safaiyeh commented on #25
Oh yeah, so `set` is not supported on Android. If you checkout https://github.com/react-native-community/cookies#usage, set is iOS only.

It should be implemented on Android as well, so I'll take this issue to support set.

[2020-01-28 07:01] masoudltf commented on #25
Thanks bro.

[2020-01-28 19:34] flashman2 opened #26 "Could not invoke RNCookieManagerAndroid.getAll"
# Bug

Getting error "Could not invoke RNCookieManagerAndroid.getAll" when try to run this code:
CookieManager.getAll(false).then(resAll => {console.log(resAll)});

OS: macOS
react-native: 0.61.5
react-native-cookies: 1.1.0

## Steps To Reproduce

Install library, run this code:
CookieManager.getAll(false).then(resAll => {console.log(resAll)});
<img width="414" alt="Снимок экрана 2020-01-28 в 23 2

[2020-01-28 20:42] safaiyeh commented on #26
Thanks @flashman2 `getAl`l is currently not implemented on Android. Accepted this issue as a feature request.

[2020-01-28 21:18] safaiyeh commented on #16
Fixed with https://github.com/react-native-community/cookies/pull/27.

Released with `v2.0.2`.

[2020-01-28 21:18] #16 closed

[2020-01-30 22:23] #15 closed

[2020-01-30 22:26] safaiyeh commented on #18
Released with version `2.0.3`

[2020-01-30 22:26] #18 closed

[2020-02-04 22:47] Djokic commented on #17
Hey @safaiyeh, are there any news about Expo support?

[2020-02-05 10:31] David-moonsite commented on #25
Hi , when "set" will be supported on Android ?

[2020-02-05 21:10] safaiyeh commented on #25
Hi @David-moonsite  no current plan yet, if you would like to take up the task, I would happily take a PR.

[2020-02-06 10:36] DIGITALSQUAD commented on #9
Sorry to be late reply.
This issue is not fixed on version 2.0.3.

[2020-02-06 15:40] safaiyeh commented on #17
Still in discussion @Djokic

[2020-02-06 15:41] safaiyeh commented on #9
Thanks @DIGITALSQUAD I'll try to reproduce it tonight

[2020-02-06 17:07] brentvatne commented on #17
@antoniogoulao - can you clarify your use case?

what use cases aren't covered?

apple will not allow you on the store if you provide authentication through a webview, they will tell you to use SFSafariViewController/SFAuthenticationSession

so you want to get the cookies via login in webview and then use that to make api calls in react-native, right?

[2020-02-06 17:07] brentvatne commented on #17
@Djokic - can you explain in detail what your use case is? I want to make sure that whatever we come up with for Expo managed workflow will work for you

[2020-02-07 10:53] Djokic commented on #17
I’m trying to log in to external service though a WebView, read cookies from WebView (including HTTPOnly)  and use them to make requests in react-native. In the end I would like to clear cookies from both RN and WebView.

[2020-02-07 11:38] DIGITALSQUAD commented on #9
I'm sorry.  This issue is fixed now💦
The problem was[ the same as before ](https://github.com/react-native-community/cookies/issues/7#issuecomment-575048048)

`react-native link` cannot replace correctly when upgrading package?

[2020-02-07 12:32] antoniogoulao commented on #17
Hi @brentvatne, it's the same case as @Djokic. In my use case, the app needs to support SAML Auth. I can't change, from the app, the RelayState to where the SSO is going to redirect the user to a URI that makes the app redirect and in some custom implementations of the protocol, it's not possible to ask to configure the SSO service to redirect after login according to the app (using a custom heade

[2020-02-07 14:57] safaiyeh commented on #9
Apparently not, can you create an issue with the CLI team?

https://github.com/react-native-community/cli

[2020-02-07 19:25] brentvatne commented on #17
which functions from this library do you need specifically to be able to accomplish your goal? is there any way you can provide me with access and an example of integrating with an endpoint so i can ensure that whatever we include in expo ends up meeting your requirements?

[2020-02-07 19:56] safaiyeh opened #29 "Simplify CookieManager.get() native implementations"
# Feature Request
Currently, the iOS and Android implementations fetch and iterate through the cookies. From @brentvatne, it is generally better to have implementations JS when possible.

## Why it is needed

• Better maintainability

## Possible implementation
• Refactor iOS and Android `get()` to a list of the cookies
• Create a shared JS implementation to iterate and return the correct cookies

[2020-02-07 22:16] apinkhasov opened #30 "Add SameSite to Cookie type"
How can I set SameSite settings for Android and iOS?
iOS has specific properties.
Is there a different property that can be used to set SameSite or can we use one of the existing?

name: 'myCookie',
  value: 'myValue',
  domain: 'some domain',
  origin: 'some origin',
  path: '/',
  version: '1',
  expiration: '2015-05-30T12:30:00.00-05:00'

[2020-02-08 04:42] safaiyeh commented on #30
@apinkhasov You can add SameSite to the Cookie object when you set

[code]

However, this is not reflected in the type file. I'll take this issue to support that. Let me know if this works!

[2020-02-11 01:51] alexhancock opened #31 "Invariant Violation: @react-native-community/cookies: Add RNCookieManagerIOS.h and RNCookieManagerIOS.m to your Xcode project"
# Bug

I experience this whenever I try to use the library:

<img width="493" alt="Screen Shot 2020-02-10 at 5 35 09 PM" src="https://user-images.githubusercontent.com/427516/74205784-9c6f4a80-4c2d-11ea-9f31-f800127c04c4.png">

## Environment info

React native info output:

[code]

Library version: 2.0.3

## Steps To Reproduce

expo init debugapp

cd debugapp

yarn add @react-native-community/coo

[2020-02-12 01:03] SeanMcP commented on #31
@alexhancock I don't know how it works with Expo, but I had to add `@react-native-community/cookies` to the `Podfile` too:

[code]

[2020-02-13 00:10] safaiyeh commented on #31
This module currently does not support Expo. You can follow this issue: https://github.com/react-native-community/cookies/issues/17 for information/updates

[2020-02-13 00:10] #31 closed

[2020-02-13 15:46] apinkhasov commented on #30
Adding SameSite to Cookie object didn't work. When do you think type file will be updated? I'm not sure if passing new property without changing code to handle it would work.

[2020-02-20 18:47] timrwhi opened #34 "CookieManager.get() returns an empty object when using WKWebView"
# Bug

Using `CookieManager.get('https://mydomain.com', true)` returns an empty object. `CookieManager.getAll(true)` contains the cookies for `.mydomain.com`. Seems like the logic on this line might be backwards: https://github.com/react-native-community/cookies/blob/master/ios/RNCookieManagerIOS/RNCookieManagerIOS.m#L142

## Environment info

React native info output:

[code]

Library version: 2.

[2020-02-21 14:34] antoniogoulao commented on #17
@brentvatne from this library I would need to get the cookies for a given hostname, delete the cookies for that hostname, and optionally set from response. Unfortunately I don't have any instance or endpoint I can provide

[2020-02-21 16:58] safaiyeh commented on #34
Thanks for the issue! I've notice this happen as well.

[2020-02-21 18:20] cristianoccazinsp opened #35 "UIWebView question - Is it still used?"
Hello,

With the removal/deprecation of `UIWebView`, I'm wondering if this library still uses it. The main concern is that if adding this library would result in warning messages from Apple due to references to `UIWebView`.  If it is no longer used, are the docs outdated? Is there even a purpose on having the `useWebKit` flags?

Thanks.

[2020-02-23 21:26] safaiyeh commented on #35
`NSHTTPCookieStorage` is not deprecated. This is the default cookie store for cookies not related to a WebView. `useWebKit` is more about using the `WKWebView` related cookies as it has it is own store.

Is there a potential enhancement given this? @cristianoccazinsp

[2020-02-23 21:30] cristianoccazinsp commented on #35
I might be a bit confused or not informed enough, but with webviews only usable with `WKWebView`, what would be the purpose of using UIWebView's cookies?

[2020-02-23 21:34] safaiyeh commented on #35
`NSHTTPCookieStorage` can store cookies not from a WebViews. Just from normal http requests

[2020-02-23 21:36] cristianoccazinsp commented on #35
Got it, so as long as there are no references to `UIWebView` in the code there should be nothing to worry about. My main concern is getting another library to trigger apple's deprecation warnings.

[2020-02-23 21:38] safaiyeh commented on #35
Yup! This module should not trigger any deprecation warnings.

[2020-02-28 08:26] thibaut-decherit commented on #30
Hello, I have the same question regarding `Secure` and `HttpOnly` cookie flags.

[2020-02-28 13:09] thibaut-decherit commented on #30
A workaround could be to use `setFromResponse()`, you can probably set any cookie flag you want that way (Secure, SameSite, HttpOnly...):

[code]

[2020-02-28 14:54] jayshah123 opened #37 "add RNCookieManagerIOS.h and RNCookieManagerIOS.m to your ios project"
# Bug
Error "add RNCookieManagerIOS.h and RNCookieManagerIOS.m to your ios project"

<img width="342" alt="Screenshot 2020-02-28 at 8 22 03 PM" src="https://user-images.githubusercontent.com/659202/75558566-037f6280-5a68-11ea-86a2-fc5a02452085.png">

## Environment info

react-native-community/cookies version: 2.0.3
React native info output:

[code]

Library version: 2.0.3

react-native config alr

[2020-02-28 14:55] jayshah123 commented on #37
Library only works if I add `pod 'react-native-cookies', :path => '../node_modules/react-native-cookies/ios'` in Podfile

[2020-02-28 14:58] jayshah123 commented on #37
Only works when I add
[code]
to my Podfile.
Ideally library should work without adding the above line right?

[2020-03-03 05:44] safaiyeh commented on #37
Hmm @jayshah123 it possible might be due to the podspec being in the iOS/ folder and at the root. Could you try that locally and possible send a PR for that?

[2020-03-04 07:28] jayshah123 opened #38 "Secure Cookie for IOS"
# Bug

No way to make cookie secure on ios.

## Environment info

React native info output:

[code]

Library version: 2.0.3

## Steps To Reproduce

1. No API to set secure cookie on ios.
2. AFAIK, NSHTTPCookie supports setting a secure flag probably. Current implementation of RNCookieManagerIOS does not consider that value/prop it seems.

Describe what you expected to happen:

1. Ability to make s

[2020-03-04 07:29] jayshah123 commented on #37
will check this

[2020-03-04 11:20] jayshah123 commented on #38
setFromResponse works for setting secure cookie
e.g.
`CookieManager.setFromResponse(baseUrl, `${nameString}=${valueString}; secure`);`

[2020-03-04 11:36] jayshah123 commented on #38
Closing for now since `setFromResponse` works for setting secure cookie

[2020-03-04 11:36] #38 closed

[2020-03-09 15:32] #35 closed

[2020-03-09 17:08] nareshbhatia commented on #37
I am getting the same error when running jest. I also added the 'react-native-cookies' line mentioned above to Podfile (and ran pod install), but that made no difference.

[2020-03-18 09:04] antoniogoulao commented on #17
Any way I can help you more with this request? Was it clear enough?

[2020-03-18 10:57] Foskas commented on #34
Hi guys,

Do we have any update on this ? I'm facing issues with cookies in release mode for iOS.
The cookies are missing and I can't keep my session without them.

Thanks!

[2020-03-18 14:09] safaiyeh commented on #37
Fixed with https://github.com/react-native-community/cookies/pull/40

[2020-03-18 14:09] #37 closed

[2020-03-18 16:36] seavan opened #42 "TypeScript d.ts files are missing in the latest (2.0.6) release"
# Bug

TypeScript d.ts files are missing in the latest (2.0.6) release

[2020-03-18 17:44] safaiyeh commented on #42
@seavan thanks looking into it now

[2020-03-18 18:15] brentvatne commented on #17
we plan to work on this for sdk38!

i understand the request. if you can give me access to some endpoint and demonstrate how you would build this with react-native-cookies in it's current form that would be helpful for me to understand further!

[2020-03-19 08:53] SVinay27 commented on #25
i am also not able to set cookies for android..
when you provide for android. or any way to set cookies for android

its woks fine for IOS

[2020-03-27 07:58] alexyazvinsky opened #44 "Add support for "set" cookies for Android."
# Add support for "set" cookies for Android.

Add support for "set" cookies for Android.
Regarding to the latest changes:
https://github.com/facebook/react-native/commit/cc845ccfb4c0f841b876bca55c5f70efd72be538

[2020-03-30 17:35] safaiyeh commented on #44
Thanks for the issue, we have an open one here tracking this: https://github.com/react-native-community/cookies/issues/25

If you'd like to pick it up, it would be appreciated :)

[2020-03-30 17:35] #44 closed

[2020-04-01 16:24] Aure77 commented on #29
Native `get()` actually doesn't return the same structure between iOS & Android (that is a problem with typescript definition...). A refactor is welcome !

[2020-04-05 02:02] NickCis commented on #17
@brentvatne Is there any ETA for the feature?

[2020-04-06 03:57] brentvatne commented on #17
we do quarterly sdk releases so if it makes it in to sdk38 it will be available in the managed workflow at the end of june

[2020-04-06 17:17] #34 closed

[2020-04-06 21:47] xchwarze commented on #25
Android represents +85% of mobile marketshare....
maybe this repo https://github.com/fanduel/cookies can solve this criminal omission

[2020-04-06 22:45] safaiyeh commented on #25
Oh this is awesome! If they would like to make a PR with the changes it will be happily accepted.

[2020-04-07 03:48] xchwarze commented on #25
@YoliFD Could they do a PR with your work?
For the BC that it has it could be the new version 3.0.0

[2020-04-07 16:58] NickCis commented on #17
For the time being, I've found a workaround to [manage cookies in expo](https://github.com/expo/expo/issues/6756#issuecomment-610503278) that others might find interesting. I've only tested it on Android using the expo app (`expo: 37`).

[2020-04-09 01:08] Dan-Wood commented on #25
@xchwarze @YoliFD You can just PR it yourself back to master...

[2020-04-09 06:06] YoliFD commented on #25
Hey folks, a little late to the party but I have made a PR that should address this as requested, as well as a bunch of other issues. Feel free to take a peek here https://github.com/react-native-community/cookies/pull/45 Any thoughts are welcome.

[2020-04-09 21:02] xchwarze commented on #25
thanks for the amazing work!

[2020-04-15 00:10] Dan-Wood commented on #25
Any idea when this will get merged and packages updated?

[2020-04-15 03:32] safaiyeh commented on #25
Hi @Dan-Wood I'm currently testing out the branch! Hope fully we can get it in this week.

[2020-04-22 08:56] dorw123 opened #46 "Is there any way to get cookies from WebView for iOS lower than 11 ?"
When trying to use webkit flat true like CookieManager.getAll(true) the following reject is trown Error: WebKit/WebKit-Components are only available with iOS11 and higher!

Is there any way to get the WebView cookies using CookieManager in iOS lower than 11?
I would mention that all the cookies are httpOnly for security reasons so the postMessage solutions are not effective.

 Thanks in advance.

[2020-04-22 21:14] safaiyeh commented on #46
Kind of a weird API mismatch on Apple's end. WKWebView supports iOS 10+; however, WKHTTPCookieStore supports iOS 11+.

So unfortunately if you are trying to access WebView cookies on iOS it requires your app to be iOS 11+

[2020-04-22 21:15] safaiyeh commented on #46
There might be a work around that I am not aware of!

[2020-04-23 16:44] #42 closed

[2020-04-27 05:00] niloufarMakhzani opened #48 "SetFromRespose not working on Android"
I'm using cookieManager to get cookies and store them, Then I want to set them back to my Url. Here is my code which is working perfect on iOS but when I setFromResponse on Android it doesn't work properly!

Here is my code:

  componentDidMount() {
  AsyncStorage.getItem('cookie')
  .then(d => {
    if (d) {
      CookieManager.setFromResponse(
        baseUrl,
        d,
      ).finally(() => th

[2020-04-27 05:05] niloufarMakhzani commented on #25
Any update on this issue?

[2020-04-27 05:37] safaiyeh commented on #25
There’s an open PR for this! I’ll see if I can get it merged.

[2020-05-05 00:56] nickmccomb opened #49 "CookieManager.set response is undefined"
# Bug

Cookies aren't being set and the promise return 'done' is undefined.  I'm using the iOS emulator, not sure if that's causing the issue.

## Environment info

`react-native info` output:

System:
    OS: macOS 10.15.4
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 1.28 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 13.8.0 - /usr/local/bin/node
    Y

[2020-05-05 01:04] nickmccomb opened #50 "Can this set cookies in WebView?"
# Question

Does this set cookies for the WebView component?

For example:

1.  Login to www.abc.com via API
2. Save response token
3. Set response token as cookie with CookieManager.set
4. Go to www.abc.com in a WebView

Would i be authenticated because the cookie is set?

[2020-05-07 02:08] #50 closed

[2020-05-20 21:58] alexhancock commented on #31
@safaiyeh Thanks very much

[2020-05-27 16:19] brantleyenglish opened #53 "iOS - get returns empty object"
I have tried get() with specific examples with and without the useWebKit variable.
Each time, CookieManager has returned as an empty object, and no errors have been created.
Built on react native init. No expo.

For example:
[code]
returns `{"cookies": {}}` in the console

I am using iOS ver 13.5.
In package.json:
"@react-native-community/cookies": "^2.0.9",
"react-native-wkwebview-reborn": "^2.0.

[2020-06-03 14:08] songzhw opened #54 "Android - CookieManager.set()"
# Feature request

Right now the CookieManager.set() is only for iOS. Android actually need it as well.

## Why it is needed
There are scenarios that Android need to set Cookie that is not from response

## Possible implementation
Android has a system class, `CookieManager`, which support `setCookie(url, cookieValue)`

### Code sample

[code]

[2020-06-04 17:09] StagasaurusRex commented on #54
This is a duplicate of #25 and work is basically completed in PR #45

[2020-06-05 12:50] songzhw commented on #54
Sound great. Is it gonna be released in the next version?

[2020-06-08 17:36] YoliFD commented on #54
Yes, looking to get this released in the next version.

[2020-06-08 17:43] YoliFD commented on #29
The return from the get method has now been aligned with PR #45

[2020-06-08 17:46] YoliFD commented on #26
As mentioned in the description of PR #45, I spent some time looking into this but there is no easy way to get all available cookies for Android. In saying that however I will reference this

[2020-06-08 17:52] YoliFD commented on #19
This should mostly be resolved now with PR #45. I do however believe we probably have an outstanding issue with setFromResponse especially considering #48

[2020-06-08 18:01] yoliborisov opened #55 "Align behaviour for setting a cookie with wrongly formatted date"
# Feature request

Setting cookies for Android and iOS will have a slightly different behaviour if a user attempts to set an object with incorrectly formatted date. The expected date format is ISO across both, however should the data sent not comply:
- on iOS - this would cause an immediate crash
- on Android - the cookie will be set but with no expiry date as such couldn't be parsed

What is more

[2020-06-09 20:59] VickyStash opened #56 "Exception '-[NSException localizedDescription]: unrecognized selector sent to instance 0x60000083bf00' was thrown while invoking set on target RNCookieManagerIOS"
# Question

I have tried set() method from example and it gives me: "Exception '-[NSException localizedDescription]: unrecognized selector sent to instance 0x60000083bf00' was thrown while invoking set on target RNCookieManagerIOS"

For example:
[code]

![image](https://user-images.githubusercontent.com/23176449/84198827-cd14a300-aaac-11ea-9cdf-12620dc97cf6.png)

I am using iOS ver 13.0.
In packag

[2020-06-10 07:10] #56 closed

[2020-06-15 20:19] perottilds opened #58 "CookieManager flush needed"
# Feature request

## Why it is needed

Copying from [here](https://github.com/react-native-community/react-native-webview/issues/1463)

I've been having trouble login in users and keeping their session and that's why.
I believe this is related to apache/cordova-android#802 (comment)
It only happens on Android because of the flush needed by CookieManager
https://developer.android.com/reference/and

[2020-06-17 16:08] pdandradeb commented on #17
@antoniogoulao I'm facing something similar. Tried many different alternatives and end up creating a PR https://github.com/react-native-community/react-native-webview/pull/1465 to include a `clearCookies` method in the `react-native-webview` for iOS and Android. Let's see if it will be merged.

In RN 0.62.2, the RCTNetwork interface was exposed so, in theory, you could do something like this:

[co

[2020-06-17 21:06] songzhw commented on #54
Thanks for replying. Do we have a date the next version release?

[2020-06-17 21:13] #54 closed

[2020-06-17 21:13] songzhw commented on #54
Thank you~

[2020-06-18 16:07] nriccar opened #59 "CookieManager simple example not working"
Hello, I'm trying to set a cookie 🍪 like in the example documentation and I'm getting this error:

![WhatsApp Image 2020-06-18 at 18 05 06](https://user-images.githubusercontent.com/49196314/85044894-8bf84f00-b18e-11ea-95a8-c9f8239d840a.jpeg)

My code:
[code]

[2020-06-19 10:27] tiborazo commented on #59
Same here. Looks like the name & value are missing the double quotes in v3 - the .set is not working on iOS

[2020-06-19 11:23] nriccar commented on #59
Nope, I already have @react-native-community/cookies. Tried to unlink it, uninstall it, and install @react-native-community/cookies@^3.0.0, and I'm having the same error.
Also, the double quotes are the same as the simple ones. If I write double Visual Code converts them to simple.

[2020-06-23 07:47] nriccar commented on #59
Anyone?

Thanks

[2020-06-28 02:33] lyw1991 opened #60 "Could not get unknown property 'getJavaCompileProvider'"
# Bug report

## Summary

An error occurred after I execute react-native link and react-native run-android

`E:\project\xfapp-inspection>react-native run-android
JS server already running.
Building and installing the app on the device (cd android && gradlew.bat installDebug)...

FAILURE: Build failed with an exception.

* Where:
Build file 'E:\project\xfapp-inspection\node_modules\@react-native-co

[2020-06-29 02:15] Miluaaa commented on #53
Did you solve it？

[2020-07-02 07:06] smakosh commented on #48
Having the same issue

[2020-07-08 14:09] Zo2m4bie commented on #59
Same here. Are there any update on this problem?

[2020-07-09 05:18] Mad-hu commented on #48
+1

[2020-07-09 09:48] smakosh commented on #48
Works when debugging is turned on

[2020-07-09 22:03] focux commented on #56
How did you fix this? I'm also having this issue.

[2020-07-09 22:34] focux commented on #59
I'm having this same issue. For the record, I'm on version 3.

[2020-07-10 09:33] VickyStash commented on #56
@focux I used it in a wrong way cause documentation wasn't clear for me
Try to do it this way and it'll work, a cookie with name 'test' and value 'test' will be created

[code]

[2020-07-12 13:19] Zo2m4bie commented on #59
Ok, during preparing fix, I found a problem. For me it was url without schema. I had www.test.com but it requires http://www.test.com.
Also this issue can happen if you have random domain as in example:
CookieManager.set('http://example.com', {
              name: 'myCookie',
              value: 'myValue',
              domain: 'some domain',
              path: '/',
              version: '1',

[2020-07-13 17:35] safaiyeh commented on #59
Hey all! Apologies for the delay, I'll be investigating this issue tonight. I believe I know why the issue is there. Will update sometime today

[2020-07-16 13:02] nriccar commented on #59
@safaiyeh Thank you for reviewing this. Have you had the chance to push its fix?
thanks!

[2020-07-17 03:43] safaiyeh commented on #59
I have a fix, testing on a couple production apps before I make a PR here.

[2020-07-17 14:42] gyosko commented on #49
Any update on this one? I'm having the same issue

[2020-07-21 10:44] TommyLeong commented on #59
@safaiyeh Meaning to say this is a confirmed bug right? Looking forward for the PR. Thanks man!

[2020-07-22 21:10] thargenediad commented on #17
For which SDK version is this feature to be included?

[2020-07-24 02:30] vlerant-saiti commented on #53
Did you find any solution?

[2020-07-24 02:54] Miluaaa commented on #53
After logging in, close the application and enter again. Does the login state remain?

After logging in to the application, close the application by killing the process. Open the application again and expect the login status to remain. What is the actual effect?

If the login interface returns a cookie, an expiration time is set for the cookie value, and the expiration time is after the current ti

[2020-07-24 03:15] vlerant-saiti commented on #53
I am trying to save Instagram cookies after user logins from webview.

Do you think thats possible?

[2020-07-24 08:14] TommyLeong commented on #25
I'm confused whether this merged solved `.set()` in Android? I have actually face crashed in Android today on One Plus 6T, Android OS 9. Does anyone else face this?

[2020-07-24 17:53] #58 closed

[2020-07-25 04:47] safaiyeh commented on #59
Hi all this ended up being bad documentation.

[code]

The `domain` attribute needs to be a subdomain of the URL. In the example above, the only valid domains are `example` or `suba`. Action item from this issue is to update the docs.

Let me know if this is helpful. The fix I mentioned changed the intended behavior.

[2020-07-25 04:48] safaiyeh commented on #59
The error also should not be that random. A better exception like "domain does not exist in URL" would be more clear.

[2020-07-25 04:51] safaiyeh commented on #53
@vlerant-saiti the best way would to store the cookie in storage and set the cookie before you make the request. Would this work for you?

[2020-07-25 10:00] vlerant-saiti commented on #53
Thats what I did. It worked

[2020-07-25 22:31] safaiyeh commented on #53
Awesome @brantleyenglish I wil close this issue for now as cookies is now v4, if the same issue occurs feel free to reopen

[2020-07-25 22:31] #53 closed

[2020-07-26 09:13] oferRounds commented on #56
@VickyStash not sure – what is the difference from the original way you tried? Not sure I understand what was the issue

[2020-07-26 09:13] oferRounds commented on #56
Getting the same problem

[2020-07-27 18:53] safaiyeh commented on #56
@oferRounds Check out this issue https://github.com/react-native-community/cookies/issues/59 let me know if the discussion there is similar to what you are experiencing

[2020-08-01 02:14] safaiyeh commented on #60
hi @lyw1991 could you try with the latest version of cookies?

[2020-08-02 00:37] safaiyeh opened #66 "Cookies Testing Suite"
# Feature request
Create an example application to implement common use cased for the cookies library in order to run unit, integration, and E2E tests for future changes.

Asking the community on how you use the library in order to create a suite of tests we can run.

## Why it is needed

To increase confidence about the module, reduce amount of future regressions, and validate supported feature s

[2020-08-02 02:08] vlerant-saiti commented on #53
For some reason, I am not able to get cookies. Now I get empty object after user logins.

[2020-08-02 02:59] safaiyeh commented on #53
@vlerant-saiti can you provide a reproducible repo?

[2020-08-03 16:22] iamgenechua opened #67 "Cookies not being able to be set correctly on Android"
# Bug report

## Summary

domain and path are both set to 'null' on android when using .set() method on android. This does not happen when running on iOS simulator

## Environment info

`react-native info` output:

[code]

Library version: ^4.0.0

## Steps to reproduce

1. run yarn android in the terminal to start up Android emulator
2. I have this code in my component:
[code]
3. Run the code and

[2020-08-11 20:51] scarlac opened #69 "Should useWebKit be default?"
# Question

Should we default `useWebKit` to `true` as the default for all static methods? (e.g. `CookieManager.clearAll(true)`) Given that react-native-webview from the community has now removed UIWebView entirely ([link](https://github.com/react-native-community/react-native-webview#versioning)), it seems it would make sense to default to using WKWebView (aka `useWebKit`).

This would be a break

[2020-08-11 22:18] achen0115 opened #70 "Fetched cookies doe not have `expires` field on Android"
RN: 0.63.2
Library version: 3.0.0 (also upgraded to 4.0.1, but it does not work either)

I could fetch cookies successfully on Android, but they do not contain `expires` field, even I set the expiration when saving the cookie.

e.g.
[code]

I got the following when I called `CookieManager.get(theUrl)`

[code]

PS: Path and domain are not returned correctly either on Android as reported in https://

[2020-08-12 12:51] witacur commented on #31
Thanks @SeanMcP this help me out.
I'm using `@react-native-community/cookies` at `4.0.1` the podspec file is now at ../node_modules/@react-native-community/cookies so
`pod` 'react-native-cookies', :path => '../node_modules/@react-native-community/cookies'`
worked for me

[2020-08-13 09:40] davidsharp opened #72 "useWebKit option on setFromResponse/getFromResponse"
# Feature request

I'm using this library with the hopes of sharing cookies with a WKWebView, and while `setFromResponse` provides a clean way for me to set cookies from an API response, it doesn't provide the same `useWebKit` argument that the other getters and setters have, nor does `getFromResponse`

[2020-08-13 09:43] davidsharp commented on #69
I think it's the sensible default going forward, also worth noting is the caveat that `setFromResponse` and `getFromResponse` are missing this functionality altogether (#72)

[2020-08-14 03:14] davidgovea commented on #69
I had the similar idea, but after looking into it, the "default" mode (`NSHTTPCookieStorage`) is used for react-native's network stack (i.e. `fetch()`, etc)

That would make changing the default quite a large change for anyone relying on that behavior (as opposed to just webview cookie management). Not sure if that is a common use-case, but I suppose the change would be OK if it is rare.

I actual

[2020-08-14 03:31] safaiyeh commented on #69
Yeah the reason behind not defaulting to WebKit is that fetch is using `NSHTTPCookieStorage`.

There might be a cleaner design for this. Maybe even moving WebView related cookies to the WebView module https://github.com/react-native-community/cookies/issues/5

Looking to hear from everyone!

[2020-08-14 03:32] safaiyeh commented on #72
Thats for the issue @davidsharp. This is true, this should not be too difficult to do. Just need to parse the cookie strong and make a valid cookie object to set in WKWebView

[2020-08-14 03:57] davidgovea opened #73 "Cannot `getAll()` cookies with same name, but different domain or path"
# Bug report

## Summary

When multiple cookies are set with the same name, but different domain and/or path, the map returned from `getAll()` will only include one of them, since it is of the form
[code]

These cookies _do_ exist in the native stores, but cannot be accessed due to this choice of return type.

Essentially, a cookie's name alone is not a unique-enough identifier.

`CookieManager.ge

[2020-08-14 05:59] scarlac commented on #69
Ah that makes sense now. I think just documenting it clearly would suffice. It's not 100% clear how they are shared so i had to look into Apple docs and read source to confirm. Not the fault of this lib but I can see others being confused by it.

[2020-08-14 06:02] safaiyeh commented on #69
Sweet ill take this up as a documentation task

[2020-08-14 06:09] safaiyeh commented on #73
Thanks for the issue @davidgovea.

Looks like this line is the culprit, https://github.com/react-native-community/cookies/blob/2cdd9413dff8b7858c16fa3df75e1d408744bef4/ios/RNCookieManagerIOS/RNCookieManagerIOS.m#L254, it overwrites cookies in the object with the same name.

Should the object be
[code]

[2020-08-14 11:37] Loxrie commented on #72
I have a patch for at least the setFromResponse aspect if that's helpful?  I'm not in a position right now to do a proper PR but I can provide a gist or something with a patch file?

[2020-08-14 16:11] safaiyeh commented on #72
@Loxrie a partial PR is welcome! I could help get it merged in.

[2020-08-14 16:59] davidgovea commented on #5
I'm a bit hesitant on this, mainly due to the behavior on android

After the deprecation of UIWebview, the behavior is currently this:
|   | Setting BOTH WebView AND React-Native `fetch` cookies | Setting ONLY WebView cookies | Setting ONLY React-Native `fetch` cookies |
| --------------- | --------------- | --------------- | --------------- |
| Android | `.set(url, cookie)` | n/a | n/a |
| iOS |

[2020-08-17 17:53] Loxrie commented on #72
I have a gist of my patch file here:

[https://gist.github.com/Loxrie/7f7761d23dd0cd85579032334f84d294](https://gist.github.com/Loxrie/7f7761d23dd0cd85579032334f84d294)

Though I haven't tested getFromResponse.

[2020-08-17 18:22] safaiyeh commented on #72
Nice! Could you create a Draft PR with your changes so I could check it out? @Loxrie

[2020-08-17 19:09] Loxrie commented on #72
I can try yes, it's difficult for me because of work.

[2020-08-17 19:45] Loxrie commented on #72
Apologies for the hastily filled out PR, I tried to conform to the template.

[2020-08-18 19:12] safaiyeh commented on #5
@davidgovea I appreciate the chart! Visualizes how cookies works.

I always aim for similar default behavior, then added platform specific customizations.

[2020-08-18 19:13] #14 closed

[2020-08-18 19:13] safaiyeh commented on #17
Closing as this package will not be included with expo

[2020-08-18 19:13] #17 closed

[2020-08-18 19:14] safaiyeh commented on #19
Closing as this migration happened with #45

[2020-08-18 19:14] #19 closed

[2020-08-18 19:15] safaiyeh commented on #25
Closing as set is supported. @TommyLeong could you create an issue with what you are experiencing

[2020-08-18 19:15] #25 closed

[2020-08-18 19:15] #29 closed

[2020-08-20 08:18] cody0203 opened #76 "How can get http-only and secure cookies on android device"
Hello guys,

I'm current build a RN app with react-native-webview and @react-native-community/cookies. Now, i need to access all cookies in webview. With some help of @react-native-community/cookies on ios devices, i can get all of this but on android i only get non-secure/non-httpOnly cookies.

Android devices is running on API 28.

Here my code:

1. Implement webview
`<WebView
     ref={webViewR

[2020-09-11 21:11] jpodpro opened #77 "SetFromResponse doesn't seem useful with no access to response headers"
# Question

hi there - i'm confused about how to use `SetFromResponse` since you can't actually read the setcookie header value from a fetch request.

in my app i have performed a fetch request that responds with a setcookie header. this header should be saved for use in react-native-webview but it's not working (not on ios). so i'm here trying to manually set the cookie. however i have no access

[2020-09-12 06:49] pascaljung commented on #77
Hey, we use [axios](https://www.npmjs.com/package/axios) in our app to do the backend request that returns the cookies. In axios, it's possible to read the `set-cookies` header. Maybe that helps :)

[2020-09-13 03:06] jpodpro commented on #77
thanks - using an alternative to fetch seems to be the most reasonable solution.

[2020-09-13 03:06] #77 closed

[2020-09-14 13:36] IvanKabetskyi opened #79 "IOS can not build project with react-native-community / cookies: unable to open file (in target "RNCookieManagerIOS" in project "RNCookieManagerIOS")"
# Bug report

👋 Hi!
When iIbuild my project i have this problem:

Showing All Messages
/mob-expedite/node_modules/@react-native-community/cookies/ios/Pods/Target Support Files/Pods-RNCookieManagerIOS/Pods-RNCookieManagerIOS.debug.xcconfig: unable to open file (in target "RNCookieManagerIOS" in project "RNCookieManagerIOS")

[2020-09-29 11:05] poojapmagar commented on #79
Hi All,
Facing same issue please help me up with the solution

node_modules/@react-native-community/cookies/ios/Pods/Target Support Files/Pods-RNCookieManagerIOS/Pods-RNCookieManagerIOS.debug.xcconfig: unable to open file (in target "RNCookieManagerIOS" in project "RNCookieManagerIOS")

[2020-10-13 12:40] remy90 commented on #37
I still have this issue in jest, @nareshbhatia any luck resolving this?

[2020-10-13 15:14] nareshbhatia commented on #37
@remy90, sorry I am not on that project any more and can't remember if we had solved the issue.

[2020-10-13 20:56] magrinj opened #82 "Set-Cookie - Cookies are aggregated on by react-native in the header"
# Question

From what I've understand if multiple cookies are received, react-native will aggregate them into one as explain here:
https://github.com/facebook/react-native/pull/27066

In my case I've two cookies aggregated, one by provided by CloudFlare (We're using it for our subdomains) and the other one the session of the user.
When I pass directly the cookie string to `setFromResponse` and aft

[2020-10-15 19:43] luisaverza commented on #37
Hi @remy90

I just solved this issue configuring jest with a [setupFile](https://jestjs.io/docs/en/configuration#setupfiles-array).
Inside the `setupFile` you should create a mock for this library:

[code]

[2020-10-19 23:13] javierbustamante opened #84 "RNCookieManagerAndroid.set got 4 arguments, expected 5"
Helo!!!

I've update the library to 5.0.1 (also cleaning projects, pod install, and everything) but always I get the same error (on iOS too).

RNCookieManagerAndroid.set got 4 arguments, expected 5

with the next trace:

[code]

Help, please!!!

Thank you!!!

[2020-10-20 07:47] javierbustamante commented on #84
I solved with the classic:
[code]

Thank you!!!

[2020-10-20 07:47] #84 closed

[2020-10-27 12:37] marf commented on #76
Gello @cody0203 , have you found a solution?

[2020-10-27 13:28] geroale commented on #76
Same issue here

[2020-10-29 00:34] cody0203 commented on #76
Nah, still stuck in there

[2020-11-02 15:50] roeycohen commented on #76
Hi @cody0203,
I'm experiencing a problem where CookieManager.get('https://linkedin.com') get all cookies but all are with httpOnly=false (even though some of them are differently true).
Is that the same for you?

[2020-11-03 00:43] cody0203 commented on #76
@roeycohen yes. It get only httpOnly=false on android devices.

[2020-11-03 06:11] roeycohen commented on #76
Hi @cody0203,
10x for answering!
Do you know if it means that you can't set httpOnly cookie as well?

[2020-11-03 07:06] cody0203 commented on #76
Oh i only need to get it.

[2020-11-03 11:09] AndriySikora commented on #48
Is there any updates on this issue? Debugging turned off or on same result. Is there work in progress on this issue?

[2020-11-10 13:22] hengkx commented on #76
ios need get httponly cookie

[2020-11-11 00:43] cody0203 commented on #76
@hengkx Ios still can get httpOnly cookie, try to use `CookieManager.getAll(true).then(...)`.

[2020-11-11 00:46] hengkx commented on #76
Thanks. The simulator can get. the real machine can't get cookies.

[2020-11-11 00:59] cody0203 commented on #76
Two months ago when i still development my old app, i remember i still can get it in real device. But for now, i can't confirm that, sorry.

[2020-11-11 09:46] marf commented on #76
Hello, we can confirm that with `CookieManager.getAll(true).then(...)` we can get all cookies in iOS, the problem is that there is no suck function in Android we we are not able to the all the cookies (even the httpOnly ones) on Android devices. Hope there is a solution for that which can make Android & iOS to behave the same.

[2020-11-11 09:51] cody0203 commented on #76
@marf I think it become from Android native code, not from this library.

[2020-11-11 09:58] marf commented on #76
@cody0203 do you think that in android there is no library which allows this or simply we have to fork CookieManager to allow this kind of behavior the same as in iOS?

[2020-11-11 10:04] cody0203 commented on #76
I don't know if any android's library can do it but i have tried to re config CookieManager in android code and nothing happen.
In android official docs doesn't mention about this feature too.
Sry for my bad English, wish you can understand.

[2020-11-11 10:28] marf commented on #76
I am not an English native speaker too :)
The only thing I have found is this answer from StackOverflow:

[Get HttpOnly Cookies Android](https://stackoverflow.com/questions/36583740/how-to-get-httponly-cookies-from-android-webkit-cookiemanager?answertab=active#tab-top)

It suggests using reflection, but it is quite old and a comment said that it does not work, so I am not sure if this may be a sol

[2020-11-11 10:30] cody0203 commented on #76
I tried it and it does not work :)

[2020-11-18 16:25] zgrannan opened #85 "MacOS Support"
According to the README:

I would appreciate MacOS support.

[2020-11-18 20:49] safaiyeh commented on #85
Agreed!

[2020-11-23 10:10] wulaizi commented on #79
+1

[2020-11-27 21:40] giuseppeabn commented on #79
I get the same error, any solution?

[2020-12-02 06:17] jdtavisca commented on #46
anyone found work around?

[2020-12-02 20:16] shorsher opened #88 "Cookie Manager not removing expired cookies while app is in foreground."
### Summary
I cannot seem to get the cookie manager to clear my expired cookies while the app is in the foreground/navigating between pages on iOS, at least during development. If I close my app and reopen (running on my phone via xcode, so the javascript bundle is reloaded), the expired cookie will no longer be in the cookie manager, however valid cookies still persist.

My goal is to store my au

[2020-12-04 16:23] shorsher commented on #70
Hey @achen0115, curious if you ever solved this issue?

[2020-12-04 18:36] shorsher commented on #70
After looking at the Android cookie manager docs (https://developer.android.com/reference/android/webkit/CookieManager), this is actually expected behavior. Internally the cookie manager keeps track of the state (expiration, etc.), but the return value of `getCookie()` returns "value the cookies as a string, using the format of the 'Cookie' HTTP request header", which does not include expiration,

[2020-12-08 09:07] anetka31 opened #89 "RNCookieManagerAndroid.clearAll got 3 arguments, expected 2"
Hi, I unistalled package react-native-cookies and was installed
``` "@react-native-community/cookies": "^5.0.1", ```

And now I have error:

RNCookieManagerAndroid.clearAll got 3 arguments, expected 2

My cod:
[code]

[2020-12-08 18:00] paddy57 commented on #79
Anyone able to resolve this ? Facing the same while building project.

[2020-12-22 13:04] carloscabpa opened #92 "Webview + site with iFrame + cookies doesn't work"
Hi!

I'm using webviews to load my site login (site A). After login i'm loading a different url site (site B) with an iframe including site A.

I want this iframe can access the login cookies. But i didn't find the way to do it. I tried all options provided by your plugin, but nothing happens.

[2021-01-14 12:44] MalgoBlock opened #98 "add flush to index.d.ts"
Now that CookieManager.flush() is added could you also add flush to index.d.ts?

[2021-01-16 03:58] mitchldtn opened #99 "Android cookie not being stored properly"
Has anyone encountered a problem with android and cookies?

On login with iOS my cookie looks like this:
[code]

Android was the same and was working fine until today. Now I'm getting:
[code]

Has anyone experienced this and knows how to fix it? The android app is unusable now.

[2021-01-17 09:37] rizkiandrianto commented on #76
Maybe only works for old android version?

[2021-01-18 01:03] cody0203 commented on #76
Not sure but if that true, it's useless :)

[2021-01-18 16:53] safaiyeh commented on #99
@mitchldtn was this working previously? Which version caused the regression?

[2021-01-18 16:55] safaiyeh commented on #99
Also which version are you on

[2021-01-19 09:58] francisleigh opened #100 "[Question] clearByName Android alternative?"
Hello!
I am looking to be able to clear all Cookies for a specific Domain and can see that `clearByName` is only supported for IOS.

e.g docs
[code]

Has anyone found a way to do this with Android?

Thank you
Francis

[2021-01-19 20:35] sparachi commented on #99
I'm trying for the first time though, not sure if it worked earlier. But when I do CookieManager.set I see "path":null,"domain":null, even though they're set.

[2021-01-20 22:16] mitchldtn commented on #99
Sorry for the delay.

"react-native": "0.63.4" and I was using the most recent version of this package.

I actually converted my backend and frontend to using tokens in headers for authentication to get around this issue.

I think it's an android issue and not sure the issue is due to this package so I will close this.

[2021-01-20 22:16] #99 closed

[2021-01-25 02:35] AlenToma opened #102 "Working with csrfToken in react native"
Hi, I am not really issuing an issue here, I just need to learn how to really use this library.

So I am working on a novel app that gets data from other parti sites.

for the most sites everythings work greet but there is one site that have an issue, and it need `csrfToken` now I am able to get those token from the site
[code]
the sites work greet on postman without doing anything.

I could see i

[2021-01-27 11:02] FrancisLeigh commented on #100
Thinking [this package](https://github.com/shimohq/react-native-cookie) could be a viable alternative to this library.

[2021-01-29 09:16] FrancisLeigh opened #103 "CookieManager.set communicates errors on invalid `domain` property poorly."
I am getting this error when using the Documented approach for setting a cookie

[code]

After a process of elimination, it is the `domain` field that causes this error. it would be good to have some more informative error messaging around method props.

[2021-02-15 17:09] jpamarohorta opened #104 "Requests not using set cookies if useWebKit is true"
Hello, I was having an issue with the `clear` and `set` methods not seeming to have any effect on requests. After some testing I figure it out that this only happened if I was using the `useWebKit` param as true.

Any idea why that was happening? Thank you!

[2021-02-17 07:17] philpettican commented on #72
Is there any update on when this will be released?

[2021-02-18 09:03] jpamarohorta commented on #104
I'm sorry it was an unrelated problem tied up with the domain attribute. I'll close this issue.

[2021-02-18 09:03] #104 closed

[2021-02-18 17:22] safaiyeh commented on #104
@jpamarohorta if you dont mind could you share what you bumped into just in case someone lands on this thread?

[2021-02-18 18:44] jpamarohorta commented on #104
No problem. A change in the cookie domain coming from the backend from .XXXX.com to XXXX.com made the cookie not being used as a header in requests to XXXX.com after I set it via the `CookieManager.set` method.

In an initial debug it seemed the problem was being caused by the `useWebKit` parameter but in the end it was a false positive.

[2021-03-15 06:38] bibin96 opened #106 "CookieManager not setting cookie if the length of value field is more than 4000"
version: 5.0.1

I've a cookie string that has a length of more than 4000. It won't set on the cookies using CookieManager. It would not be available in CookieManager.getAll. I've tried it with a small value then there are no issues.

Does anyone have this issue?

[2021-03-15 06:55] renjuramachandran commented on #106
I am also facing the issue. Any solutions?

[2021-03-30 10:14] plaa opened #108 "clearAll documentation is misleading"
The documentation indicates that `clearAll` returns a promise that is always fulfilled with a boolean on whether the cookies were successfully cleared or not.  (This is not explicitly stated, but that's what you gather from `CookieManager.clearAll().then((success) => ...` with no catch clause.)

In reality, what is returned is:

[iOS](https://github.com/react-native-cookies/cookies/blob/e627beca37

[2021-04-01 01:57] safaiyeh commented on #108
Nice catch, which behavior should be the accepted one?

[2021-04-01 05:36] plaa commented on #108
Personally I was confused with the `success` boolean, and in what case the operation could be unsuccessful and what to do then. (That's why I started digging into the code in the first place.) I also can't think of any use case for needing to know whether there were cookies that were cleared or not.

If designing it from scratch, I would probably return a promise that is fulfilled with no value, o

[2021-04-01 15:31] safaiyeh commented on #108
@plaa thanks for the feedback, I agree with the promise resolution should be consistent in all cases. I'll make a note for this issue to address that

[2021-04-01 15:32] safaiyeh commented on #106
Is this happening on both Android and iOS? @bibin96

[2021-04-03 12:16] ashok13ask opened #110 "How to set multiple cookies pair from the response header"
My reponse header includes access token, refresh token and some other flags as a cookie set, but when i try to set cookies using setFromResponse method, it's just saving the first cookie only

My Reponse cookies

access_token_cookie=eyJ0eXAiOiJKV1QiLCJ; Expires=Sun, 04-Apr-2021 12:54:59 GMT; Max-Age=3154; HttpOnly; Path=/; SameSite=None, csrf_access_token=8ee44170; Expires=Sun, 04-Apr-2021 12:54:5

[2021-04-27 10:56] marf opened #112 "[Android] Failed to load WebView provider: No WebView installed"
Hello,
for some users on Android we get this crash since they do not have any WebView installed:

[code]

Is it possible to release a version of the package where this crash is trapped so that it does not result in a crash.

[2021-05-02 08:41] iamjon commented on #103
@FrancisLeigh we were dealing with a similar bug. If you download the latest version 6.0.7 it has a nice warning for this issue. I'd even mark this as closed.

[2021-05-04 03:37] dwesty17 commented on #37
Thanks for the help @luisaverza! I had to do it slightly differently just given some of the changes to the library...

[code]

just incase anyone else stumbles across this thread.

[2021-05-20 08:34] gmyuqi commented on #110
same

[2021-05-23 12:14] iljaiwjew commented on #79
+1

[2021-06-10 22:58] capezzbr commented on #112
Experiencing the same issue

[2021-06-11 21:27] capezzbr commented on #112
Made a PR https://github.com/react-native-cookies/cookies/pull/119

[2021-06-25 14:44] safaiyeh commented on #112
Closing as the PR was merged. Thanks again @capezzbr

[2021-06-25 14:44] #112 closed

[2021-07-01 22:04] enahum commented on #85
absolutely, this one is preventing us from using the app on mac.

[2021-07-02 15:18] safaiyeh commented on #85
@enahum I haven't had time to  build out features  for cookies. I  can help give guidance on  how to implement it

[2021-07-03 04:38] gabrielmirandat opened #120 "Single sign on between mobile app and webview using okta"
Hello, guys!

I'm trying to make a SSO, that is access a secured webpage (with webview) from mobile app passing the session cookie obtained from okta's authorize call.

I make the authorize request using the fetch fetchPolyfill from whatwg-fetch, so it automatically sets the session cookie I need and I can access my webpage normally in android. But it's not working in ios!

I tried to see the diff

[2021-07-05 12:28] cdonate commented on #120
I have a similar use case and need a solution also. Please, can anyone give some help on this?

[2021-07-05 12:32] jcmarqs commented on #120
UP! Here in my company we are looking for this same solution. I think this should be a common use case and I believe it would bring a lot of value if someone could give some guidance on how to make it work.

[2021-07-06 12:45] gabrielmirandat commented on #120
I see the ios is missing the sid cookie session id, why is this happening?

[2021-07-06 15:15] safaiyeh commented on #120
I wrote a piece on extracting cookies. Sometimes I takes some WebView magic to get the cookies you want, https://dev.to/safaiyeh/react-native-authentication-with-webview-1nh let me know if this helps

[2021-07-06 22:06] gabrielmirandat commented on #120
Hello, @safaiyeh , thanks for your reply!

I read your article and it really helped me to understand some concepts about the cookie management.

From there, you made login already using the website with the webview. In my use case, I need to use a native login page. I have login and home native scenes, and from there I need to call a webpage that is secured by okta. So I need to do the opposite fl

[2021-07-07 20:53] gabrielmirandat commented on #120
I found a setup that solved for both android and ios

For ios, just make the okta custom login and call the webview with sharedCookiesEnabled={true}. If you call the okta /authorize needed for android, it sets wrong cookies and it does not work. So just the custom login sets the right cookies.

For android, just call the /authorize endpoint passing the session token solves the problem.

[2021-07-13 16:45] safaiyeh commented on #120
Glad you found a  solution @gabrielmirandat !

[2021-07-15 04:01] ianjennings opened #121 "Support for the __Host- prefix?"
I'm trying to set cookies in a [react-native-webview](https://github.com/react-native-webview/react-native-webview) but when I try to set a cookie with the prefix `__Host-`, this library returns `false`.

![image](https://user-images.githubusercontent.com/318295/125726898-ca5a1613-777e-431b-8d8c-a6faaf390f66.png)

The `__Host-` prefix is a security feature that has some strict requirements:

[code

[2021-07-15 10:08] trithien98 commented on #100
Need this property for the android platform. I don't want to clearAll cookies

[2021-07-19 15:37] safaiyeh commented on #100
Yeah Android doesn't support this out of the box https://developer.android.com/reference/android/webkit/CookieManager, hence only supporting iOS.

Open to seeing how we could design this feature since its been highly requested.

[2021-07-20 16:50] LekZ974 commented on #67
same problem here... Any solution?? 😕

[2021-07-26 07:23] LekZ974 commented on #67
i found solution for my issue. On iOS all is fine but for android the cookie name can't take a name in camelCase...

[2021-07-27 14:34] aiyuchen commented on #120
I used `getAllCookies` to get cookies from wkwebview, like this
https://github.com/react-native-webview/react-native-webview/issues/2067

[2021-08-06 23:21] AlexBatorykLeliw opened #123 "Android Maven removal"
Hello team. I updated my gradle distribution to the latest (7.1.1) to build my android app, however I get two build errors from @react-native-cookies/cookies
![image](https://user-images.githubusercontent.com/10847190/128579535-a4276c98-6164-4d51-b012-cf1456bc58e1.png)
![image](https://user-images.githubusercontent.com/10847190/128579543-8840b902-9785-44b3-a34a-5135f6208e7a.png)

is this known? an

[2021-08-09 21:15] wnklmnn opened #124 "Execution failed for task ':androidJavadoc'"
Hi, I'm using the library as a dependency in a project. Since sometime last week I'm facing issues during compilation.
The task meant to document the android library seems to not have the react-native.jar in its classpath.

<details>
  <summary>Output</summary>

[code]
</details>

Steps to reproduce:

[code]

This produces the same error compared to the one being used as a dependency

It seems tha

[2021-08-24 08:23] billypon opened #127 "Is there a way to detect when cookies are changed"
I use react-native-cookies with react-native-webview, now I can get cookies at any time.

But I don't know when cookies are changed.
I need to know "when", because I have someting to do.

[2021-09-08 04:58] GlobitalMarketing commented on #79
+1

[2021-09-10 07:56] senolatac commented on #124
Same error, any solution?

[2021-09-14 08:59] senolatac commented on #124
solved with this fork: https://github.com/senolatac/cookies

Removed the afterEvaluate part from the build.gradle

[2021-09-14 09:02] safaiyeh commented on #124
Glad you found a solution @senolatac ! Mind sending a PR for it?

[2021-09-14 09:20] senolatac commented on #124
sure @safaiyeh: created => https://github.com/react-native-cookies/cookies/pull/129

[2021-09-16 17:31] treyhoover commented on #67
We're still seeing this issue in 6.0.10 as well. Different cookie naming conventions don't seem to help.

[2021-09-24 20:17] kodie opened #130 "Any way to get cookies from shared app group?"
In my iOS app, I have a share extension (built using https://github.com/meedan/react-native-share-menu). The main app and share extension are in the same App Group, however when I call `CookieManager.get` in my extension, it comes up empty, in the main app it works fine. I'm guessing that's because it's trying to get cookies that were stored in the extension but I need it to get cookies stored in

[2021-09-27 21:02] Cplantijn commented on #123
I am also running into this issue after updating to gradle 7.0.2

[2021-09-29 20:20] gusmd commented on #124
Also facing this same error. Thanks @senolatac for the fix :) @safaiyeh any plans to merge the PR?

[2021-09-29 22:04] safaiyeh commented on #124
Thanks for the tag @gusmd lets merge it in thanks @senolatac

[2021-09-29 22:07] safaiyeh commented on #124
Merged! https://github.com/react-native-cookies/cookies/pull/129#issuecomment-930579808

Closing for now, let's use this if there are still issues.

[2021-09-29 22:07] #124 closed

[2021-11-30 19:26] safaiyeh commented on #123
Happy to take PRs for this

[2021-12-07 10:47] LofWalter opened #132 "How to set up on Android!?"
I didn't see any about setting up on Android, it just said that android is supported.

How can I set in /build.gradle?

[2021-12-09 07:32] billnbell opened #133 "Error Gradle 7.2"
Build file 'node_modules/@react-native-community/cookies/android/build.gradle' line: 25

[code]

[2021-12-26 02:58] billnbell commented on #133
maven is no longer supported in Gradle 7+ - please move to maven-publish.

Also replace mavenDeployer() for arguments

[2021-12-26 03:10] billnbell commented on #133
Here is the patch
[code]

[2022-01-20 22:06] marcato15 opened #135 "Update Package to work with Expo"
This package is currently incompatible with the new Expo Modules format that was recently released. I need to use some of the new modules in my project but can't if I want to continue using this module.  There is a open MR that seeks to deal with this (although when I try to make the changes specified manually they don't seem to work).

https://github.com/react-native-cookies/cookies/pull/134

[2022-01-22 01:07] JasonTolliver commented on #133
@billnbell, no patch needed, this was fixed back in **[v6.0.11](https://github.com/react-native-cookies/cookies/releases/tag/v6.0.11)**

[2022-01-22 01:08] JasonTolliver commented on #123
@AlexBatorykLeliw @safaiyeh, this was fixed in **[v6.0.11](https://github.com/react-native-cookies/cookies/releases/tag/v6.0.11)**  looks like people just need some upgrades 😁

[2022-02-07 03:57] martsie opened #136 "Cannot use import statement outside a module when importing into jest unit tests"
When importing CookieManager into tests we get the following error:

[code]

For others who have this issue, we worked around it in our tests by mocking the entire library like this:

[code]

[2022-02-15 22:31] pke opened #137 "Crash on Samsung devices without webview (play services)"
https://github.com/react-native-cookies/cookies/blob/9420afc76d1ac9c24c205fa37182ada00da9921f/android/src/main/java/com/reactnativecommunity/cookies/CookieManagerModule.java#L55

This line can throw on Samsung devices without Google Play Services installed (and only Samsung Browser).

I somehow fail to see how the exception handler wrapped around this does anything useful? It captures any exceptio

[2022-03-02 14:28] MarkusAbtion opened #139 "Missing version on NPM"
The newest version on npm appears to be 5.0.1 and not 6.0.11

[2022-03-11 06:25] vijayaumar-eswaramur commented on #37
I solved this issue by doing following:
(Delete installed app)
1. Clean XCode Project
2. Build XCode Project

[2022-03-15 18:46] DivyatejaChe commented on #50
Hey @nickmccomb is there a reason you closed it? I am trying to solve a similar problem - any guidance here?

[2022-03-17 02:01] urtheone opened #143 "after set cookies, can't get from h5 page in WebView"
after set cookies, can't get from h5 page in WebView. but i can get them in android.

[2022-04-08 07:44] JMikeJ commented on #121
also encountered this issue as well, we have a cookie that uses has a __Host- prefix but it will also return a false.

Have you by chance resolved this issue or have found a workaround?

[2022-04-19 15:12] bennydu91 opened #146 "Android Build issue with removeSessionCookies function"
Hello !
I have update from last version (6.2.0) and I have an issue with removeSessionCookies function as you can see on this [screenshot](https://imgur.com/QodtZ4B) I didn't find any ticket about it, maybe you have a quick fix for this ?

Thank you !

[2022-04-25 08:13] kjurkovicafinitos commented on #146
I have the same issue!

[2022-04-27 17:39] mmathewsTableau commented on #146
Running into it as well. Workaround is great but would definitely appreciate a permanent fix so a local patch is not necessary.

[2022-05-02 10:11] bennydu91 commented on #146
@kjurkovicafinitos Yep I've tried it but still not working unfortunately

[2022-05-02 11:05] kjurkovicafinitos commented on #146
@bennydu91 what error are you seeing? Problem with workaround is that after every `npm install`, `final` will be removed and you need to add it again. Might that be the issue?

[2022-05-02 12:11] bennydu91 commented on #146
After add `final`, without doing `npm install`, I try to build, gradle doesn't pop any error but after Metro generate bundle I have a blank screen on my emulator (Update package is my only change on this branch and I can build on main branch)

[2022-05-02 13:06] yasithA opened #148 "CookieManagerModule.java has a local variable accessed from an inner class that's not declared final"
When building for Android, the following build error occurs.

[code]

If I go to the file in node_modules and make the `promise` variable `final`, the build succeeds.

[2022-05-02 19:05] VadimDyliko commented on #139
v6.0.0: Package name updated to @react-native-cookies/cookies

[2022-05-03 14:25] dsemennyuk commented on #121
@JMikeJ just realized that have issues with "_" cookies, did you found a way to solve it?

[2022-05-04 13:01] kjurkovicafinitos commented on #148
This is a duplicate of https://github.com/react-native-cookies/cookies/issues/146

[2022-05-19 10:37] drAliRahnema opened #150 "Could not determine the dependencies of task ':react-native-cookies_cookies:compileDebugAidl'."
Error: Command failed: gradlew.bat app:installDebug -PreactNativeDevServerPort=8081

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':react-native-cookies_cookies:compileDebugAidl'.

     Required by:
         project :react-native-cookies_cookies > com.facebook.react:react-native:0.68.2

     Required by:
         project :react-native-co

[2022-06-10 03:40] qianjunsteve opened #154 "what the meaning of 'version' when setCookie"

[2022-06-13 08:49] nigimaxx opened #155 "CookieManager.set on iOS prepends an "." to the domain"
If a cookie with a domain is passed to `CookieManager.set` e.g. `example.com` it becomes `.example.com` in the iOS device's cookie storage.

It looks like the problem is related to those lines.

A dot is prepended to the domain but never removed.

https://github.com/react-native-cookies/cookies/blob/69fe6557b0f2c286e6df6fa9100391ad2d163860/ios/RNCookieManagerIOS/RNCookieManagerIOS.m#L288-L302

[2022-06-13 08:51] #155 closed, assigned to nobody

[2022-06-13 08:58] nigimaxx commented on #155
Was using `@react-native-community/cookies` in my package json. Maybe a warning in the readme would help to avoid this in the future.

[2022-06-23 09:23] tom-sherman opened #156 "Support new React Native new architecture (TurboModules/Fabric)"
See https://reactnative.dev/docs/new-architecture-library-intro

https://reactnative.dev/blog/2022/06/16/resources-migrating-your-react-native-library-to-the-new-architecture

[2022-06-30 14:02] TheRogue76 commented on #156
It would be nice to have some kind of road map and what needs to be done. Maybe other devs can contribute as well to the work

[2022-07-07 22:16] jonueki opened #158 "Could not invoke RNCookieManager.get"
When running `react-native build-android` Im getting the error. `Could not invoke RNCookieManager.get`

iOS is working perfectly fine. And when I comment out the code `CookieManager.get(<url>)` my app builds fine. Im not sure what Im doing wrong here

[code]

<img width="495" alt="image" src="https://user-images.githubusercontent.com/84942797/177880369-d64fdad2-ded4-49ea-b427-7c5792598ecd.png">

[2022-08-05 18:55] OneOfOne opened #159 "can't build for android using expo / eas-cli"
[code]

[2022-09-06 12:20] SikoraKam opened #160 "Don't work with react native debugger"
When app is in debug mode, and "Enable network inspect" is turned on in react native debugger, there isn't possibility to receive cookie from url.
Anyone know why it happens and if there is a workaround for that?

[2022-09-20 21:33] maximilize commented on #136
There might be one issue when `clearAll` have to return a promise, this is our solution:

[code]

[2022-09-30 10:29] hkar19 opened #161 "[ASK] Is there a way to syncronize cookies between webview and native?"
I am accessing web using react-native-webview, and i need to sync cookies inside that webview with my native view.
Native to webview is no problem, i can set cookie inside my native webview if there is change. but how about webview to native? is there any listener i can setup or any workaround?

[2022-10-11 14:40] yittoo commented on #123
@mahcloud package name has been updated to @react-native-cookies/cookies from @react-native-community/cookies

please run
`npm uninstall @react-native-community/cookies && npm i --save @react-native-cookies/cookies`

and adjust your imports in project accordingly

[2022-11-01 11:07] QL-Nisha-Rana commented on #88
Any solution?

[2022-11-04 12:51] SikoraKam commented on #99
Why did you close it? Your approach to change auth flow doesn't resolve this issue

https://github.com/react-native-cookies/cookies/issues/164

[2022-11-04 12:56] SikoraKam opened #164 "Android always set httpOnly to false"
Setting cookie on android always work wrong. There is no option to set field "httpOnly" to true. Also fields like "domain" and "path" are always null.

Example log after setting and getting cookie:

[code]

[2022-11-10 00:19] shmkane commented on #76
Has anyone found a solution?

[2022-11-16 14:18] khelifioussama commented on #159
@brentvatne

[2022-11-16 14:51] cjhines commented on #99
This is still completely broken in latest release. Why did you close this @mitchldtn?

[2022-11-17 17:26] mitchldtn commented on #99
I closed this because I stopped using the package entirely and resolved this by using local storage

[2022-11-19 03:29] brysonjonesy commented on #37
This worked for me in a jestSetup file:
[code]

[2022-11-25 18:55] brentvatne commented on #159
you need to provide a reproducible example. i just initialized a new project, added the library, ran `npx expo run:android` and it worked as expected. https://github.com/brentvatne/oneofone

[2022-11-25 18:55] #159 closed, assigned to nobody

[2022-11-30 20:18] whirsheimer commented on #99
Same issue here